*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/* Navigation bar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.6);
}
.webtitle {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

.links a:hover{
    color: #7c0594;
}

/* description Section */
.para {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

.para h1 {
    font-size: 42px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #00e5ff, #ff00c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #f1f1f1;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(45deg, #00e5ff, #ff00c8);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00e5ff;
}

/* Tagline */

.tagline {
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #ff9800;
}

/* Responsive */

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        gap: 15px;
    }

    .para h1 {
        font-size: 30px;
    }
}