* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/* Navigation bar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: black;
}

.webtitle {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.links {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover {
    color: #7c0594;
}

/* description Section */
.para {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

.para h1 {
    font-size: 42px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #00e5ff, #ff00c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: white;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(45deg, #00e5ff, #ff00c8);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
    box-shadow: 0 0 15px #00e5ff;
}

/* Tagline */
.tagline {
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #3fae0b;
}

/* game page */
.container {
    text-align: center;
}

.title {
    margin: 30px;
    text-align: center;
}

/* input name */
#name {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

/* start and reset buttons */
#startButton,
#resetButton {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    color: white;
}

#startButton {
    background-color: green;

}

#resetButton {
    background-color: red;

}

/* display name, score and time */
.score-board {
    margin: 15px 0;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: rgb(29, 211, 228);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
}

/* score page */
#scoreTable {
    margin: 40px auto;          
    border:rgb(29, 211, 228);  
    min-width: 400px;
    background-color: rgb(5, 170, 154);
    color: rgb(242, 233, 233);
    border-radius: 10px;
    overflow: hidden;
}
#scoreTable th,
#scoreTable td {
    border: 1px solid #333;
    padding: 12px 20px;
    text-align: center;
}
/* Responsive */

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        gap: 15px;
    }

    .para h1 {
        font-size: 30px;
    }
}